@model Lineee.Models.ExaOrderDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExaOrderDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.exam_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exam_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExaOrders.exam_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaOrders.exam_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.details_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
