@model Lineee.Models.ExaOrders

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExaOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.doctor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.doctor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam.exam_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.exam_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.id_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.id_card)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
