@model Lineee.Models.ExaOrders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExaOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor.doctor_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor.doctor_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam.exam_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam.exam_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.id_card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.id_card)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.exam_number }) |
    @Html.ActionLink("Back to List", "Index")
</p>
