@model IEnumerable<Lineee.Models.ExaOrders>

@{
    ViewBag.Title = "Index";
}

<h2>醫囑</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("開單日期")
        </th>
        <th>
            @Html.DisplayName("醫生姓名")
        </th>
        <th>
            @Html.DisplayName("檢驗項目")
        </th>
        <th>
            @Html.DisplayName("身分證")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.order_date.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.doctor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.exam_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.id_card)
            </td>
        </tr>
    }

</table>

