@model IEnumerable<Lineee.Models.ExaOrders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor.doctor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam.exam_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient.id_card)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.order_date.ToString("yyyy/MM/dd")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.doctor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam.exam_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.id_card)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.exam_number }) |
            @Html.ActionLink("Details", "Details", new { id=item.exam_number }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.exam_number })
        </td>
    </tr>
}

</table>
